<div class="d-flex justify-content-start ms-2 me-2  mt-2 ">
    <div class="row justify-content-start col-md-12 ml-sm-auto">
        <div class="col-md-4 ml-sm-auto ">
            <h5 class="mb-3">Digital Data Recording System</h5>
            <div class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-6">
                        <label for="Product Number" class="form-label">Product Number</label>
                        <input type="class" class="form-control" id="class" placeholder="10 Digit Alphanumeric Code" value="PPJkMyUQY8">
                    </div>

                    <div class="col-6">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" disabled class="form-control" id="date" value="2020-12-06">
                    </div>

                    <div class="col-4">
                        <label for="class" class="form-label">Class</label>
                        <input type="class" disabled class="form-control" id="class" placeholder="4">
                    </div>

                    <div class="col-4">
                        <label for="size" class="form-label">Size</label>
                        <input type="text" disabled class="form-control" id="size" placeholder="9">
                    </div>

                    <div class="col-4 ">
                        <label for="size" class="form-label">Side</label>
                        <select class="form-select" id="inputGroupSelect02" value="2">
                        <option >Choose...</option>
                        <option value="1">RHS</option>
                        <option selected value="2">LHS</option>
                      </select>
                    </div>

                    <div class="col-4">
                        <label for="cuff" class="form-label">Cuff</label>
                        <input type="cuff" class="form-control" id="cuff" placeholder="" value="SC">
                    </div>

                    <div class="col-4">
                        <label for="kv" class="form-label">Size</label>
                        <input type="text" disabled class="form-control" id="kv" placeholder="40.0KVAC">
                    </div>

                    <div class="col-4">
                        <label for="timer" class="form-label">Timer</label>
                        <input type="text" disabled class="form-control" id="timer" placeholder="60 Sec">
                    </div>

                    <div class="col-4">
                        <label for="type" class="form-label">Size</label>
                        <input type="text" disabled class="form-control" id="type" placeholder="16' Glove">
                    </div>

                    <div class="col-4">
                        <label for="maxLeakmA" class="form-label">Max Leak mA</label>
                        <input type="text" disabled class="form-control" id="maxLeakmA" placeholder="24.0 mA">
                    </div>

                    <div class="col-4">
                        <label for="std" class="form-label">STD</label>
                        <input type="text" disabled class="form-control" id="std" placeholder="IEC">
                    </div>

                    <div class="col-4">
                        <label for="time" class="form-label">Time</label>
                        <input type="time" disabled class="form-control" id="time" value="09:43:00">
                    </div>

                    <div class="col-4">
                        <label for="temp" class="form-label">Temp</label>
                        <input type="text" disabled class="form-control" id="temp" placeholder="20.8">
                    </div>

                    <div class="col-4">
                        <label for="humidity" class="form-label">Humidity %</label>
                        <input type="text" disabled class="form-control" id="humidity" placeholder="84">
                    </div>

                    <div class="col-8">
                        <label for="conductivity" class="form-label">Conductivity (µS/cm)</label>
                        <input type="text" disabled class="form-control" id="conductivity" placeholder="250">
                    </div>

                    <div class="col-4">
                        <label for="batchNo" class="form-label">Batch No.</label>
                        <input type="text" disabled class="form-control" id="batchNo" placeholder="4662">
                    </div>

                    <div class="col-4">
                        <label for="kv_out" class="form-label">kV</label>
                        <input type="text" disabled class="form-control" id="kv_out" placeholder="40.7">
                    </div>

                    <div class="col-8">
                        <label for="peakValue" class="form-label">Peak Value</label>
                        <input type="text" disabled class="form-control" id="peakValue" placeholder="Value at which  gloves failed">
                    </div>

                    <div class="col-12">
                        <label for="peakValue" class="form-label">QR Code</label>
                        <img src="http://raychemrpg.axiscades.com/assets/QRCode.png">

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 ml-sm-auto">
            <div class="col-12">
                <div class="card" style="min-height: 85vh;">
                    <div class="card-header">
                        <img src="http://raychemrpg.axiscades.com/assets/logo-raychem_report.png" style="width: 100%">
                    </div>
                    <div class="card-body">
                        <p class="text-center axis-font border border-dark" style="font-display: bold">Test Certificate</p>
                        <p class="text-start axis-font border border-dark" style="font-display: bold">As per IEC 60903</p>
                        <div class="row col-12">
                            <div class="col-4">
                                <label for="class" class="form-label">Class</label>
                                <input type="text" disabled class="form-control" id="class" placeholder="4">
                            </div>
                            <div class="col-4">
                                <label for="size" class="form-label">Size</label>
                                <input type="text" disabled class="form-control" id="size" placeholder="9">
                            </div>
                            <div class="col-4">
                                <label for="length" class="form-label">Length</label>
                                <input type="text" disabled class="form-control" id="length" placeholder="NA">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">
                                <label for="class" class="form-label">Parameter</label>
                            </div>
                            <div class="col-4">
                                <label for="size" class="form-label">LHS Glove</label>
                            </div>
                            <div class="col-4">
                                <label for="length" class="form-label">RHS Glove</label>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">
                                <label for="Glovelable" class="form-label">Glove No.</label>
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNOLHS" placeholder="PPJkMyUQY8">
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNORHS" placeholder="">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">
                                <label for="Glovelable" class="form-label">Test Date</label>
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNOLHS" placeholder="2020-12-06">
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNORHS" placeholder="">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">
                                <label for="Glovelable" class="form-label">Marking on glove</label>
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNOLHS" placeholder="YES">
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNORHS" placeholder="">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">
                                <label for="Glovelable" class="form-label">Electrical Test:
                                            Test Voltage</label>
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNOLHS" placeholder="8.7 mA">
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNORHS" placeholder="">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">
                                <label for="Glovelable" class="form-label">(Proof Test) Leakage current</label>
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNOLHS" placeholder="NA">
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNORHS" placeholder="">
                            </div>
                        </div>
                        <p class="text-start axis-font " style="font-display: bold">Conclusion : PASS</p>
                        <p class="text-start axis-font " style="font-display: bold">Test By : Sandeep</p>
                        <div class="row col-12">
                            <div class="col-4">
                                <label for="Glovelable" class="form-label">Re-Test Date</label>
                            </div>
                            <div class="col-4">
                                <input type="text" disabled class="form-control" id="GloveNOLHS" placeholder="2021-02-06">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">
                                <label for="Glovelable" class="form-label">Nearest Testing Facility</label>
                            </div>
                            <div class="col-4 d-flex align-self-center">
                                <div class="col-11">
                                    <input type="text" class="form-control" id="GloveNOLHS" placeholder="">
                                </div>
                                <div class="col-1">
                                    <i class="material-icons">my_location</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 ml-sm-auto">
            <div class="card" style="min-height: 85vh;">
                <div class="card-header">
                    Reports
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="http://173.248.136.206:2709/assets/Safety gloves Test Certificate.pdf" target="_blank">Pos.1 MA [PPJkMyUQY8]</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
</div>
